[Unit]
Wants=network.target
[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/egress --config /usr/local/etc/egress.yaml
ExecStartPost=/bin/bash -c 'sudo pulseaudio --system || true'
Restart=always
[Install]
WantedBy=multi-user.target
